body{
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
    background-color: #ccc;
}
.hero{
    background-image: url(imagens/bg-4.jpg);
    height: 500px;
    background-size: cover;
    background-position: right center;
    padding-top: 1px;
    margin-top: 0;
}
.hero-content{
 margin: 50px auto 0;
 width:80%;
text-align: center;
color: white;

}
.hero-content h1{
  font-size: 56px;
  text-shadow:2px 2px 2px black ;
  text-transform: uppercase;
}
.hero-content h2 {
 background-color: rgba(0, 0,0,0.7);
 font-size: 18px;
display: inline-block;
padding: 16px;
border-bottom: 2px solid;

}
.hero nav {
    position: absolute;
    top: 20px;
    right: 20px; /* Alterado para 20px para manter espaço do canto */
}

.hero nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: flex-end; /* Para alinhar à direita */
}

.hero nav li {
    margin-left: 16px;
}

/* Media query para telas menores */
@media screen and (max-width: 768px) {
    .hero nav {
        top: 10px; /* Ajuste a posição na parte superior para telas menores */
        right: 10px; /* Ajuste a posição na direita para telas menores */
    }

    .hero nav ul {
        flex-direction: column; /* Altera para uma disposição de coluna */
        align-items: flex-end; /* Alinha os itens à direita */
    }

    .hero nav li {
        margin-left: 0; /* Remove a margem à esquerda */
        margin-bottom: 10px; /* Adiciona um espaço entre os itens */
    }
}



.hero nav a {
    background-color: rgba(0, 0, 0, 0.3);
    padding: 16px;
    display: block;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 2px;
}
.hero nav a:hover{
   background-color: black;

}

 main{
    width: 90%;
    margin: auto;
    max-width: 860px;
    margin-top: 32px;
 }
article{
  background-color: white;
  padding: 16px;
  margin-bottom: 32px;

}

 article h1{
    border-bottom: 2px solid #ccc;
    background-color: #ccc;
    padding: 10px;
    margin-top: 0px;

 }

 a{
     background-color: #cdc7c3;
     display: inline-block;
     padding: 12px;


 }
 footer{
    text-align: center;
    background-color: gray;
    padding: 20px;
 }
